---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all", "posts"],
	// addAllPagesToCollections: true,
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	title: "Tagged '{{ tag }}'",
	permalink: function(data) {
		return `/tags/${this.slugify(data.tag)}/`;
	}
};
---
<h2 class="mb-5">{{ tag }}</h2>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p class="text-center mt-3"><a class="btn btn-dark btn-lg" href="/tags">See all tags</a></p>
