{% if metadata.widget.show_custom %}
{% for c in metadata.widget.custom_widget %}
<div class="p-3 p-md-4 bg-light rounded mt-2 mb-3">
<h3 class="mb-3"><a href="{{c.url}}">{{c.title}}</a></h3>
{% if c.image %}<img class="img-fluid rounded mb-3" alt="{{c.title}}" width="100%" height="100%" src="{{c.image}}"/>{% endif %}
<p>{{c.text}}</p>
<p class="more_info"><i class="fas fa-arrow-right me-3"></i><a href="{{c.url}}">More Info</a></p>
</div>
{% endfor %}
{% endif %}
